extends layout

block content
  h3 Overall Leaderboard
  table.table.table-striped
    thead
      tr
        th Name
        th Score
    tbody
      each leader, i in leaders
        tr
          if leader.user
            td #{leader.user.name}
            td #{leader.score}
  h3 Daily Challenge
  p seed: #{daily.seed}
  p rollover at: #{dailyRolloverTime}
  table.table.table-striped
    thead
      tr
        th Name
        th Score
    tbody
      each leader, i in daily.leaders
        tr
          if leader.user
            td #{leader.user.name}
            td #{leader.score}
  